# ur
*primitive, original, or earliest*

In [1]:
import ur

## Import a remote notebook as a Python module:

In [2]:
from importlib import reload

In [1]:
import ur
url = 'http://localhost:8000/a_b.ipynb'
ur * url

call args: ('http://localhost:8000/a_b.ipynb', '*')
main: names ('*',)
names: ('*',)
import_all: True, names: []

In [2]:
a()

'aaa'

In [3]:
b()

'bbb'

In [4]:
import c

find_module: $c, $None
load_module: c -> ParseResult(scheme='', netloc='', path='c', params='', query='', fragment='')
Importing Jupyter notebook from c.ipynb

In [6]:
from c import c

In [7]:
c()

'ccc'

In [5]:
c.c()

'ccc'

In [4]:
ret.a()

NameError: name 'ret' is not defined

In [3]:
ur * 'http://localhost:8000/c.ipynb'

Downloaded nb content: {
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [],
   "source": [
    "def c():\n",
    "    return 'ccc'"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "ur-3.7.4",
   "language": "python",
   "name": "ur-3.7.4"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.4"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}

In [4]:
Out[3].c()

'ccc'

In [5]:
c()

NameError: name 'c' is not defined

In [2]:
a()

NameError: name 'a' is not defined

In [3]:
mod.foo()

4

In [4]:
ur * url

<module 'https://gist.githubusercontent.com/ryan-williams/58d781f4ea97e98ee80e6c4af0c8acf3/raw/458a253b9afececff0a6ba11d40b7f79f88ec151/test_nb.ipynb' from 'https://gist.githubusercontent.com/ryan-williams/58d781f4ea97e98ee80e6c4af0c8acf3/raw/458a253b9afececff0a6ba11d40b7f79f88ec151/test_nb.ipynb'>

In [5]:
foo()

4

In [22]:
from base64 import \
    b16decode as b16d, b16encode as b16e, \
    a85decode as a85d, a85encode as a85e, \
    b85decode as b85d, b85encode as b85e

In [6]:
from math import log

In [7]:
160*log(2)/log(85)

24.963370403556002

In [8]:
128*log(2)/log(85)

19.9706963228448

In [19]:
a85e(b16d(b'58d781f4ea97e98ee80e6c4af0c8acf3'.upper())).decode()

'=P&,rlBgaqkRME$nAq^&'

In [20]:
len(Out[19])

20

In [22]:
{'a':1}.get('a')

1

In [3]:
from urllib.parse import urlparse

In [24]:
urlparse(url)

ParseResult(scheme='https', netloc='gist.githubusercontent.com', path='/ryan-williams/58d781f4ea97e98ee80e6c4af0c8acf3/raw/458a253b9afececff0a6ba11d40b7f79f88ec151/test_nb.ipynb', params='', query='', fragment='')

In [28]:
from sys import executable as python
!{python} -m pip install cssselect lxml

Requirement already satisfied: cssselect in /Users/ryan/.pyenv/versions/3.7.4/envs/ur-3.7.4/lib/python3.7/site-packages (1.1.0)
Collecting lxml
  Downloading https://files.pythonhosted.org/packages/08/7f/981b9f4dc4f1926f9cbacbf61cba0f93ac7f466eeb62c0221b299fc5fe4f/lxml-4.4.2-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (8.8MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8.8MB 4.1MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.2

In [29]:
from lxml.etree import fromstring, XMLParser

find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $rnc2rng, $None

In [32]:
parser = XMLParser(recover=True)

In [33]:
with open('gist.html', 'r') as f:
    h = fromstring(f.read(), parser)

In [38]:
files = h.cssselect('.file')
[ f1, f2 ] = files

In [66]:
[ a ] = f1.xpath('.//a[contains(., "Raw")]')

In [67]:
a.attrib

{'class': 'btn btn-sm ', 'href': '/ryan-williams/1288bff2f9e05394a94312010da267bb/raw/0a2b5966c22c5461734063b78239262e39e4f363/a_b.ipynb'}

In [68]:
a.href

AttributeError: 'lxml.etree._Element' object has no attribute 'href'

In [64]:
[ e.attrib for e in f2.getchildren() ]

[{'class': 'file-header'},
 {'itemprop': 'text', 'class': 'Box-body p-0 blob-wrapper data type-jupyter-notebook '}]

In [53]:
p1 = a1.getparent()

In [54]:
p1.attrib

{'class': 'file-actions'}

In [57]:
a1.attrib

{'class': 'btn btn-sm ', 'href': '/ryan-williams/1288bff2f9e05394a94312010da267bb/raw/0a2b5966c22c5461734063b78239262e39e4f363/a_b.ipynb'}

In [56]:
a2.attrib

{'class': 'btn btn-sm ', 'href': '/ryan-williams/1288bff2f9e05394a94312010da267bb/raw/0a2b5966c22c5461734063b78239262e39e4f363/c.ipynb'}

In [55]:
a2.getparent().attrib

{'class': 'file-actions'}

In [47]:
a1.text

'Raw'

In [48]:
a2.text

'Raw'

In [43]:
[ name ] = f1.cssselect('.file-info > .css-truncate > strong')
name.text.strip()

'a_b.ipynb'

In [42]:
name.cssselect('strong')[0].text

'\n              a_b.ipynb\n            '

In [6]:
url

'https://gist.github.com/ryan-williams/1288bff2f9e05394a94312010da267bb#file-a_b-ipynb'

In [5]:
urlparse(url)

ParseResult(scheme='https', netloc='gist.github.com', path='/ryan-williams/1288bff2f9e05394a94312010da267bb', params='', query='', fragment='file-a_b-ipynb')

In [2]:
from re import match

In [5]:
match('.*', 'a/b/c')

In [ ]:
from a_b import *     # ‚úÖ
from a_b import a     # ‚úÖ
from a_b import a, b  # ‚úÖ
import a_b            # ‚úÖ
import a_b.a          # ‚úÖ

import gist._1288bff2f9e05394a94312010da267bb
from gist._1288bff2f9e05394a94312010da267bb import *
from gist._1288bff2f9e05394a94312010da267bb import a_b
from gist._1288bff2f9e05394a94312010da267bb import c
from gist._1288bff2f9e05394a94312010da267bb.a_b import *
from gist._1288bff2f9e05394a94312010da267bb.a_b import a, b

ur * 'gist.github.com/1288bff2f9e05394a94312010da267bb'
ur * 'https://gist.github.com/ryan-williams/1288bff2f9e05394a94312010da267bb#file-a_b-ipynb'  # ‚úÖ

ur ** 'gist.github.com/ryan-williams/1288bff2f9e05394a94312010da267bb'

ur('gist.github.com/ryan-williams/1288bff2f9e05394a94312010da267bb')
ur(gist='1288bff2f9e05394a94312010da267bb', '*')
ur(gist='1288bff2f9e05394a94312010da267bb', '**')

In [14]:
from ecoji import encode

In [26]:
b16d('1288bff2f9e05394a94312010da267bb'.upper().encode())

b'\x12\x88\xbf\xf2\xf9\xe0S\x94\xa9C\x12\x01\r\xa2g\xbb'

In [28]:
from io import BytesIO, StringIO
r = BytesIO(b16d('1288BFF2F9E05394A94312010DA267BB'))
s = StringIO()
encode(r, s)
s.getvalue()

'üåêüçìüßíüôÑü§ÆüêäüèªüêîüåéüÜöü§ïüî∫üò∑‚òï‚òï‚òï\n'

In [31]:
len(b'\x12\x88\xbf\xf2\xf9\xe0S\x94\xa9C\x12\x01\r\xa2g\xbb')

16

In [29]:
'1288BFF2F9E05394A94312010DA267BB'
'üåêüçìüßíüôÑü§ÆüêäüèªüêîüåéüÜöü§ïüî∫üò∑‚òï‚òï‚òï'

'1288BFF2F9E05394A94312010DA267BB'

In [8]:
class Foo:
    def __mul__(self, *args, **kwargs):
        print(f'args: {args}')
        print(f'kwargs: {kwargs}')
        return args

In [9]:
foo = Foo()

In [13]:
foo * (2, 3)

args: ((2, 3),)
kwargs: {}

((2, 3),)

In [4]:
ur * (1, 2)

AttributeError: 'tuple' object has no attribute 'decode'

In [2]:
from a_b import *

find_module: $a_b, $None
load_module: a_b -> ParseResult(scheme='', netloc='', path='a_b', params='', query='', fragment='')
Importing Jupyter notebook from a_b.ipynb

In [3]:
a()

'aaa'

In [93]:
from IPython.core.display import display, HTML
def show(html):
    return display(HTML(html))

In [158]:
def find_base(B, s, R=0, max=2**20):
    '''Find the smallest base "b" such that [0,s] symbols in base b are sufficient to represent [0,B] bytes of data'''
    b = 2
    target = (2**(8*(B+1))-1)/(2**8-1)
    while True:
        if b > max:
            raise Exception(f'Reached maximum base: {b}')
        actual = (b-R)*(b**s-1)/(b-1)
        if actual >= target:
            break
        b += 1
    return b

In [159]:
min_B = 1
max_B = 10
vals = {
    (B,s): find_base(B, s, R=1024) 
    for B in range(min_B, max_B+1)
    for s in range((B+1)//2, B+1)
}
vals

{(1, 1): 1281,
 (2, 1): 66817,
 (2, 2): 1085,
 (3, 2): 4648,
 (3, 3): 1040,
 (4, 2): 66178,
 (4, 3): 2050,
 (4, 4): 1028,
 (5, 3): 10688,
 (5, 4): 1415,
 (5, 5): 1025,
 (6, 3): 65965,
 (6, 4): 4382,
 (6, 5): 1174,
 (6, 6): 1025,
 (7, 4): 16662,
 (7, 5): 2602,
 (7, 6): 1075,
 (7, 7): 1025,
 (8, 4): 65858,
 (8, 5): 7355,
 (8, 6): 1859,
 (8, 7): 1039,
 (8, 8): 1025,
 (9, 5): 21845,
 (9, 6): 4290,
 (9, 7): 1479,
 (9, 8): 1028,
 (9, 9): 1025,
 (10, 5): 65794,
 (10, 6): 10506,
 (10, 7): 2933,
 (10, 8): 1262,
 (10, 9): 1025,
 (10, 10): 1025}

In [160]:
min_s = min([ s for (_, s), _ in vals.items() ])
max_s = max([ s for (_, s), _ in vals.items() ])
min_B, max_B, min_s, max_s

(1, 10, 1, 10)

In [161]:
def val(B, s):
    return vals.get((B,s),'')

thead = f'''<thead>
<tr>
    <td rowspan="2" colspan="2"></td>
    <td colspan="{max_s-min_s+1}"><strong>num. encoded symbols</strong></td>
</tr>
<tr>{''.join([ f'<td><strong>{s}</strong></td>' for s in range(min_s, max_s+1) ])}</tr>
</thead>'''

first_row = f'''<tr>
    <td rowspan="{max_B-min_B+1}"><strong>num. raw symbols</strong></td>
    <td><strong>{min_B}</strong></td>
    {''.join([ f'<td>{val(min_B, s)}</td>' for s in range(min_s,max_s+1) ])}
</tr>'''

main_rows = ''.join([
    f'''<tr>
    <td><strong>{B}</strong></td>
    {''.join([ f'<td>{val(B,s)}</td>' for s in range(min_s,max_s+1) ])}
    </tr>'''
    for B in range(min_B+1,max_B+1)
])

table = f'''<table>
{thead}
<tbody>
    {first_row}
    {main_rows}
</tbody>
</table>'''

show(table)

In [153]:
table.replace('\n','')

'<table><thead><tr>    <td rowspan="2" colspan="2"></td>    <td colspan="10"><strong>num. encoded symbols</strong></td></tr><tr><td><strong>1</strong></td><td><strong>2</strong></td><td><strong>3</strong></td><td><strong>4</strong></td><td><strong>5</strong></td><td><strong>6</strong></td><td><strong>7</strong></td><td><strong>8</strong></td><td><strong>9</strong></td><td><strong>10</strong></td></tr></thead><tbody>    <tr>    <td rowspan="10"><strong>num. raw symbols</strong></td>    <td><strong>1</strong></td>    <td>256</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>    <tr>    <td><strong>2</strong></td>    <td>65792</td><td>256</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>    </tr><tr>    <td><strong>3</strong></td>    <td></td><td>4104</td><td>256</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>    </tr><tr>    <td><strong>4</strong></td>    <td></td><td>65664</td><td>1628</td><td>256</td><td></td><td></td><td></td><td></td><td></td><td></td>    </tr><tr>    <td><strong>5</strong></td>    <td></td><td></td><td>10335</td><td>1025</td><td>256</td><td></td><td></td><td></td><td></td><td></td>    </tr><tr>    <td><strong>6</strong></td>    <td></td><td></td><td>65622</td><td>4100</td><td>777</td><td>256</td><td></td><td></td><td></td><td></td>    </tr><tr>    <td><strong>7</strong></td>    <td></td><td></td><td></td><td>16400</td><td>2355</td><td>646</td><td>256</td><td></td><td></td><td></td>    </tr><tr>    <td><strong>8</strong></td>    <td></td><td></td><td></td><td>65600</td><td>7137</td><td>1627</td><td>566</td><td>256</td><td></td><td></td>    </tr><tr>    <td><strong>9</strong></td>    <td></td><td></td><td></td><td></td><td>21636</td><td>4099</td><td>1249</td><td>513</td><td>256</td><td></td>    </tr><tr>    <td><strong>10</strong></td>    <td></td><td></td><td></td><td></td><td>65588</td><td>10328</td><td>2758</td><td>1025</td><td>475</td><td>256</td>    </tr></tbody></table>'

In [50]:
from pandas import DataFrame as DF

find_module: $pickle5, $None
find_module: $pickle5, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $bottleneck, $None
find_module: $bottleneck, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None
find_module: $matplotlib, $None
find_module: $matplotlib, $None
find_module: $backports_abc, $None
find_module: $backports_abc, $None

In [54]:
outs = [ e for row in Out[49] for e in row ]

In [55]:
outs

[{'B': 2, 's': 1, 'b': 65792},
 {'B': 3, 's': 2, 'b': 4104},
 {'B': 4, 's': 2, 'b': 65664},
 {'B': 4, 's': 3, 'b': 1628},
 {'B': 5, 's': 3, 'b': 10335},
 {'B': 5, 's': 4, 'b': 1025},
 {'B': 6, 's': 3, 'b': 65622},
 {'B': 6, 's': 4, 'b': 4100},
 {'B': 6, 's': 5, 'b': 777},
 {'B': 7, 's': 4, 'b': 16400},
 {'B': 7, 's': 5, 'b': 2355},
 {'B': 7, 's': 6, 'b': 646},
 {'B': 8, 's': 4, 'b': 65600},
 {'B': 8, 's': 5, 'b': 7137},
 {'B': 8, 's': 6, 'b': 1627},
 {'B': 8, 's': 7, 'b': 566}]

In [56]:
df = DF(outs); df

    B  s      b
0   2  1  65792
1   3  2   4104
2   4  2  65664
3   4  3   1628
4   5  3  10335
5   5  4   1025
6   6  3  65622
7   6  4   4100
8   6  5    777
9   7  4  16400
10  7  5   2355
11  7  6    646
12  8  4  65600
13  8  5   7137
14  8  6   1627
15  8  7    566

In [62]:
pivoted = df.pivot(index='B', columns='s', values='b'); pivoted

s        1        2        3        4       5       6      7
B
2  65792.0      NaN      NaN      NaN     NaN     NaN    NaN
3      NaN   4104.0      NaN      NaN     NaN     NaN    NaN
4      NaN  65664.0   1628.0      NaN     NaN     NaN    NaN
5      NaN      NaN  10335.0   1025.0     NaN     NaN    NaN
6      NaN      NaN  65622.0   4100.0   777.0     NaN    NaN
7      NaN      NaN      NaN  16400.0  2355.0   646.0    NaN
8      NaN      NaN      NaN  65600.0  7137.0  1627.0  566.0

In [63]:
pivoted.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>s</th>\n      <th>1</th>\n      <th>2</th>\n      <th>3</th>\n      <th>4</th>\n      <th>5</th>\n      <th>6</th>\n      <th>7</th>\n    </tr>\n    <tr>\n      <th>B</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>2</th>\n      <td>65792.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>NaN</td>\n      <td>4104.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>NaN</td>\n      <td>65664.0</td>\n      <td>1628.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>10335.0</td>\n      <td>1025.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>65622.0</td>\n      <td>4100.0</td>\n      <td>777.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>16400.0</td>\n      <td>2355.0</td>\n      <td>646.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>65600.0</td>\n      <td>7137.0</td>\n      <td>1627.0</td>\n      <td>566.0</td>\n    </tr>\n  </tbody>\n</table>'

In [61]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>B</th>\n      <th>s</th>\n      <th>b</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>2</td>\n      <td>1</td>\n      <td>65792</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>3</td>\n      <td>2</td>\n      <td>4104</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>4</td>\n      <td>2</td>\n      <td>65664</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>3</td>\n      <td>1628</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>3</td>\n      <td>10335</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>5</td>\n      <td>4</td>\n      <td>1025</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>6</td>\n      <td>3</td>\n      <td>65622</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>6</td>\n      <td>4</td>\n      <td>4100</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>6</td>\n      <td>5</td>\n      <td>777</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>7</td>\n      <td>4</td>\n      <td>16400</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>7</td>\n      <td>5</td>\n      <td>2355</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>7</td>\n      <td>6</td>\n      <td>646</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>8</td>\n      <td>4</td>\n      <td>65600</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>8</td>\n      <td>5</td>\n      <td>7137</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>8</td>\n      <td>6</td>\n      <td>1627</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>8</td>\n      <td>7</td>\n      <td>566</td>\n    </tr>\n  </tbody>\n</table>'

In [52]:
df

,0,1,2,3
0,"{'B': 2, 's': 1, 'b': 65792}",None,None,None
1,"{'B': 3, 's': 2, 'b': 4104}",None,None,None
2,"{'B': 4, 's': 2, 'b': 65664}","{'B': 4, 's': 3, 'b': 1628}",None,None
3,"{'B': 5, 's': 3, 'b': 10335}","{'B': 5, 's': 4, 'b': 1025}",None,None
4,"{'B': 6, 's': 3, 'b': 65622}","{'B': 6, 's': 4, 'b': 4100}","{'B': 6, 's': 5, 'b': 777}",None
5,"{'B': 7, 's': 4, 'b': 16400}","{'B': 7, 's': 5, 'b': 2355}","{'B': 7, 's': 6, 'b': 646}",None
6,"{'B': 8, 's': 4, 'b': 65600}","{'B': 8, 's': 5, 'b': 7137}","{'B': 8, 's': 6, 'b': 1627}","{'B': 8, 's': 7, 'b': 566}"